# Programming with Python

## Lecture 13: Sets and Dictionaries

### Khachatur Khechoyan

#### Yerevan State University
#### Portmind

# Sets

Sets are an unordered collections with no duplicate elements. Sets can be modified, but their members need to be immutable and hashable. Sets are defined by using curly braces `{}` or `set()` construtor function.

In [ ]:
s = {1, 2, 3, 2, 1, 3}
s

In [ ]:
s = set([1, 2, 3, 2, 1, 3])
s

In [ ]:
s = {"foo", "bar", "baz", "baz", "bar"}
s

In [ ]:
s = set(("foo", "bar", "baz", "baz", "bar"))
s

In [ ]:
s = {"hello"}
s

In [ ]:
s = set("hello")
s

In [ ]:
# empty set
s = set()
s, type(s)

In [ ]:
# empty dictionary
s = {}
s, type(s)

In [ ]:
s = {1, 42, "John Doe", 6.79, ("foo", False), None}
s

In [ ]:
s = {1, 42, "John Doe", 6.79, ["foo", False], None}
s

In [61]:
s = set(("foo", "bar", "baz", "baz", "bar"))
s

{'bar', 'baz', 'foo'}

In [ ]:
"foo" in s

In [ ]:
"foobar" in s

In [ ]:
len(s)

In [62]:
for el in s:
    print(el)

baz
foo
bar

## Set operations

### Union

Returns the union of sets.

In [63]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {4, 5, 6}

In [64]:
s1 | s2

{1, 2, 3, 4, 5}

In [65]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [66]:
s1 | s2 | s3

{1, 2, 3, 4, 5, 6}

In [67]:
s1.union(s2, s3)

{1, 2, 3, 4, 5, 6}

### Intersection

Returns the intersection of sets.

In [68]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s3 = {4, 5, 6, 7}

In [69]:
s1 & s2

{3, 4}

In [70]:
s1.intersection(s2)

{3, 4}

In [71]:
s1 & s2 & s3

{4}

In [72]:
s1.intersection(s2, s3)

{4}

### Difference

Returns the difference of sets.

In [73]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8}
s2 = {3, 4, 5, 6}
s3 = {4, 5, 6, 7, 8}

In [74]:
s1 - s2

{1, 2, 7, 8}

In [75]:
s1.difference(s2)

{1, 2, 7, 8}

In [76]:
s1 - s2 - s3

{1, 2}

In [77]:
s1.difference(s2, s3)

{1, 2}

### Symmetric difference

Returns the symmetric difference of sets.

In [78]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8}
s2 = {3, 4, 5, 6}
s3 = {4, 5, 6, 7, 8}

In [79]:
s1 ^ s2

{1, 2, 7, 8}

In [80]:
s1.symmetric_difference(s2)

{1, 2, 7, 8}

In [81]:
s1 ^ s2 ^ s3

{1, 2, 4, 5, 6}

In [ ]:
s1.symmetric_difference(s2, s3)

### Disjoint

Checks if sets are disjoint or not.

In [82]:
s1 = {"abc", "def"}
s2 = {"foo", "bar"}

s1.isdisjoint(s2)

True

In [83]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1.isdisjoint(s2)

False

### Subset

Checks if a set is a subset of another set.

In [84]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [85]:
s1.issubset(s2)

True

In [86]:
s1 <= s2

True

In [87]:
s1 <= s1

True

### Proper subset

Checks if a set is a proper subset of another set.

In [88]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [89]:
s1 < s2

True

In [90]:
s1 < s1

False

### Superset

Checks if a set is a superset of another set.

In [91]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [92]:
s2.issuperset(s1)

True

In [93]:
s2 >= s1

True

In [94]:
s2 >= s2

True

### Proper superset

Checks if a set is a proper superset of another set.

In [95]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [96]:
s2 > s1

True

In [97]:
s2 > s2

False

### Augmented assignment

### `update()`

Updates the set by the items of an iterable.

In [98]:
s = {1, 2, 3}
s

{1, 2, 3}

In [99]:
s.update(["foo", "bar", 1, 4])
s

{1, 2, 3, 4, 'bar', 'foo'}

In [100]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 4}

In [101]:
s1 |= s2
s1

{1, 2, 3, 4, 'bar', 'foo'}

### `intersection_update()`

Updates the set by intersecting it with another set.

In [102]:
s = {1, 2, 3}
s

{1, 2, 3}

In [103]:
s.intersection_update(["foo", "bar", 1, 2, 4])
s

{1, 2}

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 2, 4}

In [ ]:
s1 &= s2
s1

### `difference_update()`

Updates the set by differencing it with another set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.difference_update(["foo", "bar", 1, 4])
s

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 4}

In [ ]:
s1 -= s2
s1

### `symmetric_difference_update()`

Updates the set by symmetric differencing it with another set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.symmetric_difference_update(["foo", "bar", 1, 2, 4])
s

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 2, 4}

In [ ]:
s1 ^= s2
s1

### `add()`

Adds a single element to the set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.add(4)
s

### `remove()`

Removes an element from the set by value. Throws an error if the value does not exist.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.remove(2)
s

In [104]:
s.remove(4)
s

KeyError: 4

### `discard()`

Removes an element from the set by value. Does not throw an error if the value does not exist.

In [105]:
s = {1, 2, 3}
s

{1, 2, 3}

In [106]:
s.discard(2)
s

{1, 3}

In [107]:
s.discard(4)
s

{1, 3}

### `pop()`

Removes a random element from the set.

In [108]:
s = {1, 2, 3}
s

{1, 2, 3}

In [109]:
s.pop()
s

{2, 3}

In [110]:
s.pop()
s

{3}

In [111]:
s.pop()
s

set()

In [112]:
s.pop()
s

KeyError: 'pop from an empty set'

### `clear()`

Clears the content of the set.

In [113]:
s = {1, 2, 3}
s

{1, 2, 3}

In [114]:
s.clear()
s

set()

## Set comprehension

Like list comprehension expressions, Python allows us to use the declarative style of set comprehension expressions to create sets.

```python
{expression for item in sequence}
```

- `expression` is any valid expression that is hashable and usually depends on the value of `item`.
- `item` is an element from `sequence`.
- `sequence` is an iterable.

In [118]:
s = {i % 11 for i in range(1000)}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [119]:
s = {i ** 3 for i in range(10) if i % 2 == 1}
s

{1, 27, 125, 343, 729}

In [120]:
s = {(i, i ** 3) for i in range(10)}
s

{(0, 0),
 (1, 1),
 (2, 8),
 (3, 27),
 (4, 64),
 (5, 125),
 (6, 216),
 (7, 343),
 (8, 512),
 (9, 729)}

In [121]:
s = {[i, i ** 3] for i in range(10)}
s

TypeError: unhashable type: 'list'

# Dictionaries

Dictionaries are a **key-value** collection of objects. They are mapping from the collection of **keys** to the collection of **values**. They are mutable and can grow dynamically in size.

Dictionaries can be defined either by `dict()` constructor function or by providing key-value pairs in curly `{}` braces as follows:

```python
d = {
    <key_1>: <value_1>,
    <key_2>: <value_2>,
    ...
    <key_n>: <value_n>,
}
```

In [ ]:
countries2cities = { "Armenia": "Yerevan", "France": "Paris", "Germany": "Berlin" }
countries2cities

In [ ]:
countries2cities = dict(Armenia="Yerevan", France="Paris", Germany="Berlin")
countries2cities

In [ ]:
countries2cities = dict([
    ("Armenia", "Yerevan"),
    ("France", "Paris"),
    ("Germany", "Berlin"),
])
countries2cities

In [ ]:
empty_dict = {}
empty_dict, type(empty_dict)

In [ ]:
empty_dict = dict()
empty_dict, type(empty_dict)

## Accessing and adding new elements

In [ ]:
countries2cities = { "Armenia": "Yerevan", "France": "Paris", "Germany": "Berlin" }
countries2cities

In [ ]:
countries2cities["Armenia"]

In [ ]:
countries2cities["Spain"]

In [ ]:
countries2cities["Spain"] = "Madrid"
countries2cities

In [ ]:
weekdays = {0: "Sunday", 1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}
weekdays

In [ ]:
weekdays[3]

In [ ]:
weekdays[-1]

In [ ]:
weekdays[2:4]

In [ ]:
student = {}
student["first_name"] = "John"
student["last_name"] = "Doe"
student["age"] = 20
student["friends"] = ["Alice", "Bob"]
student["grades"] = {"mathematics": 95, "english": 92, "physics": 98}
student

In [ ]:
student["first_name"], student["last_name"], student["age"]

In [ ]:
student["friends"]

In [ ]:
student["grades"]

In [ ]:
student["friends"].append("Jane")
student["grades"]["biology"] = 89

In [ ]:
student["friends"]

In [ ]:
student["grades"]

In [ ]:
student

## `hash()` function

`hash()`function returns the hash of an object if it has one. Hash values are integers and are used for quick dictionary lookup.

In [ ]:
hash(42), hash(42.0)

In [ ]:
hash("first_name")

In [ ]:
hash(("Spades", 10))

In [ ]:
hash([1, 2, 3])

## Dictionary keys limitations

Dictionary keys must be immutable and hashable. This means that they have a hash value and `hash()` function returns a value for them.

In [ ]:
coordinates = {
    (1, 1): "first quarter",
    (-1, 1): "second quarter",
    (-1, -1): "third quarter",
    (1, -1): "fourth quarter",
}
coordinates

In [ ]:
coordinates = {
    [1, 1]: "first quarter",
    [-1, 1]: "second quarter",
    [-1, -1]: "third quarter",
    [1, -1]: "fourth quarter",
}
coordinates

## Dictionary operations

### `in` operator

Checks if a dictionary has the given key or not.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
"name" in person

In [ ]:
"friends" in person

### `d.get(key, default_value)` method

`d.get(key, default_value)` method returns the value for a `key` if it exists in the dictionary. If it does not exist, the value of `default_value` is returned, which is `None` by default

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.get("name")

In [ ]:
person.get("friends")

In [ ]:
person.get("friends", "Sorry, no friends :(")

### `d.pop(key, default_value)` method

`d.pop(key, default_value)` method removes the `key` from the dictionary if it exists in the dictionary and returns its value. If it does not exist, an exception is raised if `default_value` is not provided. Otherwise, the value of `default_value` is provided.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.pop("name")

In [ ]:
person

In [ ]:
person.pop("friends")

In [ ]:
person.pop("friends", "Sorry, no friends :(")

In [ ]:
person

### `d.popitem()` method

`d.popitem()` method removes the last key-value pair from the dictionary if it exists in the dictionary and returns its value.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.popitem()

In [ ]:
person

In [ ]:
person.popitem()

In [ ]:
person

In [ ]:
person.popitem()

### `d.clear()` method

`d.clear()` method removes the content of the dictionary.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.clear()

In [ ]:
person

### `d.update(object)` method

`d.update(object)` method updates the dictionary with the content of the `object`, which can be another mapping or an iterable that represents a mapping.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.update({"friends": ["Alice", "Bob"], "salary": 120000})

In [ ]:
person

In [ ]:
person.update([
    ("children", ["Jane", "Bill"]),
    ("savings", 200416.78),
])

In [ ]:
person

### `d.keys()` method

`d.keys()` method returns the keys of the dictionary.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.keys()

In [ ]:
list(person.keys())

In [ ]:
for key in person.keys():
    print(f"{key} => {person[key]}")

### `d.values()` method

`d.values()` method returns the values of the dictionary.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.values()

In [ ]:
list(person.values())

In [ ]:
for value in person.values():
    print(value)

### `d.items()` method

`d.items()` method returns the key-value pairs of the dictionary.

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
person.items()

In [ ]:
list(person.items())

In [ ]:
for key, value in person.items():
    print(f"{key} => {value}")

### `sorted` function

In [ ]:
person = {"name": "John Doe", "age": 42}
person

In [ ]:
sorted(person)

In [ ]:
for key in sorted(person):
    print(f"{key} => {person[key]}")

## Dictionary comprehensions

Like list and set comprehension expressions, Python allows us to use the declarative style of dictionary comprehension expressions to create dictionaries.

```python
{key_expression: value_expression for item in sequence}
```

- `key_expression` is any valid expression that is hashable and usually depends on the value of `item`.
- `value_expression` is any valid expression that usually depends on the value of `item`.
- `item` is an element from `sequence`.
- `sequence` is an iterable.

In [ ]:
d = {i: i ** 3 for i in range(10)}
d

In [ ]:
d = {i: i ** 3 for i in range(10) if i % 2 == 1}
d

In [ ]:
text = "HELLO World".lower()
d = {character: text.count(character) for character in text}
d

In [ ]:
d = {i: {j: i + j for j in range(10)} for i in range(10)}
d

In [ ]:
d = {}
for i in range(10):
    value = {}
    for j in range(10):
        value[j] = i + j
    d[i] = value
d

# Classwork
# Sets
## Problem 1

In this problem, you are required to implement a function named `unique_elements`` that takes two lists as inputs. 

The function should return a set containing all the unique elements that appear in both lists.

For example, if the input lists are `[1, 2, 2, 3, 4]` and `[3, 4, 4, 5, 6]`, the output should be `{1, 2, 3, 4, 5, 6}`.

Function Signature: \
`def unique_elements(list1: List[int], list2: List[int]) -> Set[int]:`

In [125]:
def unique_elements(list1, list2):
    s = set()
    for i in list1:
        s.add(i)
    for i in list2:
        s.add(i)
    return s
def unique_elements(list1, list2):
    s = set()
    for i in list1 + list2:
        s.add(i)
    return s

def unique_elements(list1, list2):
    return set(list1 + list2)

unique_elements([1,2,2,3,4], [3,4,4,5,6])

{1, 2, 3, 4, 5, 6}

## Problem 2

In this problem, you are required to implement a function named `common_elements` that takes two lists as inputs. 

The function should return a set containing all the elements that appear in both lists. If there are no common elements, the function should return an empty set.

For example, if the input lists are `[1, 2, 3, 4]` and `[3, 4, 5, 6]`, the output should be `{3, 4}`. If the input lists are `[1, 2, 3]` and `[4, 5, 6]`, the output should be an empty set.

Function Signature: \
`def common_elements(list1: List[int], list2: List[int]) -> Set[int]:`

In [126]:
def common_elements(list1, list2):
    s1 = set(list1)
    s2 = set(list2)
    return s1&s2

In [127]:
common_elements([1,2,3,4], [3,4,5,6])

{3, 4}

## Problem 3

In this problem, you are required to implement a function named `exclusive_elements` that takes two lists as inputs. 

The function should return a set containing all the elements that appear in exactly one of the lists, but not in both. If there are no such elements, the function should return an empty set.

For example, if the input lists are `[1, 2, 3, 4]` and `[3, 4, 5, 6]`, the output should be `{1, 2, 5, 6}`. If the input lists are `[1, 2, 3]` and `[1, 2, 3]`, the output should be an empty set.

Function Signature: \
`def exclusive_elements(list1: List[int], list2: List[int]) -> Set[int]:`

## Problem 4

In this problem, you are required to implement a function named `find_duplicates` that takes a list of strings as input.

The function should return a set of all strings that appear more than once in the input list.

For example, if the input list is `['apple', 'banana', 'apple', 'pear', 'banana']`, the output should be `{'apple', 'banana'}`.

Function Signature: \
`def find_duplicates(input_list: List[str]) -> Set[str]:`

In [130]:
def find_duplicates(input_list):
    s = set()
    s1 = set(input_list)
    for el in s1:
        if input_list.count(el) > 1:
            s.add(el)
    return s

def find_duplicates(input_list):
    s1 = set(input_list)
    for el in s1:
        input_list.remove(el)
    return set(input_list)

In [131]:
find_duplicates([1,2,1,2,3])

{1, 2}

In [133]:
import string
list(string.punctuation)

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [134]:
def find_unique_words(chapter):
    chapter = chapter.lower()
    for p in string.punctuation:
        chapter = chapter.replace(p, "")
    return set(chapter.split())

# Dictionaries

## Problem 1
In this problem, you are required to implement a function named `count_elements` that takes a list of integers as input.

The function should return a dictionary where the keys are the unique elements from the input list and the values are the number of times each element appears in the list.

For example, if the input list is `[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]`, the output should be `{1: 1, 2: 2, 3: 3, 4: 4}`.

Function Signature: \
`def count_elements(input_list: List[int]) -> Dict[int, int]:`

## Problem 2

In this problem, you are required to implement a function named `map_elements` that takes a list of strings and a dictionary as inputs.

The function should return a new list where each element is replaced by its corresponding value in the dictionary. If an element in the list does not exist in the dictionary, it should be replaced with `None`.

For example, if the input list is `['apple', 'banana', 'cherry']` and the dictionary is `{'apple': 'red', 'banana': 'yellow'}`, the output should be `['red', 'yellow', None]`.

Function Signature: \
`def map_elements(input_list: List[str], map_dict: Dict[str, str]) -> List[Optional[str]]:`

## Problem 3

In this problem, you are required to implement a function named `shift_elements` that takes a list of elements and an integer as inputs and creates a new dictionary where the keys are the elements from the input list and the values are the elements shifted by the given integer.

For example, if the input list is `[1, 2, 3, 4, 5]` and the integer is `2`, the output should be `{1: 3, 2: 4, 3: 5, 4: 1, 5: 2}`.

Function Signature: \
`def shift_elements(input_list: List[int], shift: int) -> Dict[int, int]:`

## Problem 4

In this problem, you are required to implement a function named `substitution_cipher` that takes a string and a dictionary as inputs. The string represents a message to be encrypted and the dictionary represents the substitution cipher mapping.

The function should return a string where each letter in the input string is replaced by the corresponding letter in the substitution cipher mapping. For example, with a substitution cipher mapping of `{'A': 'B', 'B': 'C', ..., 'Z': 'A'}`, 'A' would be replaced by 'B', 'B' would become 'C', etc. The 'Z' would wrap around to 'A'. 

Note: The function should maintain the case (upper or lower) of the original letter and non-alphabetical characters should be ignored.

For example, if the input is `('Hello, World!', {'A': 'B', 'B': 'C', ..., 'Z': 'A'})`, the output should be `'Ifmmp, Xpsme!'`.

Function Signature: \
`def substitution_cipher(message: str, substitution: Dict[str, str]) -> str:`

## Problem 5

In this problem, you are required to implement a function named `reverse_dictionary` that takes a dictionary as input and returns a new dictionary where the keys and values are swapped.
It is assumed that the values of the input dictionary are unique and hashable.

For example, if the input dictionary is `{'A': 'B', 'B': 'C', 'C':'A'}`, the output should be `{'A': 'C', 'B': 'A', 'C': 'B'}`.

## Problem 6

Use the last function to revert the substitution cipher from the Problem 4.

## zip function

`zip` function takes two or more iterables and returns an iterator of tuples where the i-th tuple contains the i-th element from each of the input iterables.

In [15]:
a = ["foo", "bar", "baz"]
b = [1, 2, 3]
c = ["a", "b", "c"]

for i, j, k in zip(a, b, c):
    print(i, j, k)

foo 1 a
bar 2 b
baz 3 c

In [11]:
a = ["foo", "bar", "baz"]
b = [1, 2, 3]
c = ["a", "b"]

for i, j, k in zip(a, b, c):
    print(i, j, k)

foo 1 a
bar 2 b

In [29]:
a = ["foo", "bar", "baz"]
b = [1, 2, 3]
c = ["a", "b", "c"]

z = zip(a, b, c)

a_, b_, c_ = zip(*z) # equivalent to a, b, c = zip((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [34]:
print(a_)
print(b_)
print(c_)

('foo', 'bar', 'baz')
(1, 2, 3)
('a', 'b', 'c')