# Programming with Python

## Lecture 13: Sets and Dictionaries

### Khachatur Khechoyan

#### Yerevan State University
#### Portmind

# Sets

Sets are an unordered collections with no duplicate elements. Sets can be modified, but their members need to be immutable and hashable. Sets are defined by using curly braces `{}` or `set()` construtor function.

In [ ]:
s = {1, 2, 3, 2, 1, 3}
s

In [ ]:
s = set([1, 2, 3, 2, 1, 3])
s

In [ ]:
s = {"foo", "bar", "baz", "baz", "bar"}
s

In [ ]:
s = set(("foo", "bar", "baz", "baz", "bar"))
s

In [ ]:
s = {"hello"}
s

In [ ]:
s = set("hello")
s

In [ ]:
# empty set
s = set()
s, type(s)

In [ ]:
# empty dictionary
s = {}
s, type(s)

In [ ]:
s = {1, 42, "John Doe", 6.79, ("foo", False), None}
s

In [ ]:
s = {1, 42, "John Doe", 6.79, ["foo", False], None}
s

In [ ]:
s = set(("foo", "bar", "baz", "baz", "bar"))
s

In [ ]:
"foo" in s

In [ ]:
"foobar" in s

In [ ]:
len(s)

In [ ]:
for el in s:
    print(el)

## Set operations

### Union

Returns the union of sets.

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {4, 5, 6}

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

In [ ]:
s1 | s2 | s3

In [ ]:
s1.union(s2, s3)

### Intersection

Returns the intersection of sets.

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s3 = {4, 5, 6, 7}

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1 & s2 & s3

In [ ]:
s1.intersection(s2, s3)

### Difference

Returns the difference of sets.

In [ ]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8}
s2 = {3, 4, 5, 6}
s3 = {4, 5, 6, 7, 8}

In [ ]:
s1 - s2

In [ ]:
s1.difference(s2)

In [ ]:
s1 - s2 - s3

In [ ]:
s1.difference(s2, s3)

### Symmetric difference

Returns the symmetric difference of sets.

In [ ]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8}
s2 = {3, 4, 5, 6}
s3 = {4, 5, 6, 7, 8}

In [ ]:
s1 ^ s2

In [ ]:
s1.symmetric_difference(s2)

In [ ]:
s1 ^ s2 ^ s3

In [ ]:
s1.symmetric_difference(s2, s3)

### Disjoint

Checks if sets are disjoint or not.

In [ ]:
s1 = {"abc", "def"}
s2 = {"foo", "bar"}

s1.isdisjoint(s2)

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1.isdisjoint(s2)

### Subset

Checks if a set is a subset of another set.

In [ ]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [ ]:
s1.issubset(s2)

In [ ]:
s1 <= s2

In [ ]:
s1 <= s1

### Proper subset

Checks if a set is a proper subset of another set.

In [ ]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [ ]:
s1 < s2

In [ ]:
s1 < s1

### Superset

Checks if a set is a superset of another set.

In [ ]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [ ]:
s2.issuperset(s1)

In [ ]:
s2 >= s1

In [ ]:
s2 >= s2

### Proper superset

Checks if a set is a proper superset of another set.

In [ ]:
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [ ]:
s2 > s1

In [ ]:
s2 > s2

### Augmented assignment

### `update()`

Updates the set by the items of an iterable.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.update(["foo", "bar", 1, 4])
s

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 4}

In [ ]:
s1 |= s2
s1

### `intersection_update()`

Updates the set by intersecting it with another set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.intersection_update(["foo", "bar", 1, 2, 4])
s

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 2, 4}

In [ ]:
s1 &= s2
s1

### `difference_update()`

Updates the set by differencing it with another set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.difference_update(["foo", "bar", 1, 4])
s

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 4}

In [ ]:
s1 -= s2
s1

### `symmetric_difference_update()`

Updates the set by symmetric differencing it with another set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.symmetric_difference_update(["foo", "bar", 1, 2, 4])
s

In [ ]:
s1 = {1, 2, 3}
s2 = {"foo", "bar", 1, 2, 4}

In [ ]:
s1 ^= s2
s1

### `add()`

Adds a single element to the set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.add(4)
s

### `remove()`

Removes an element from the set by value. Throws an error if the value does not exist.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.remove(2)
s

In [ ]:
s.remove(4)
s

### `discard()`

Removes an element from the set by value. Does not throw an error if the value does not exist.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.discard(2)
s

In [ ]:
s.discard(4)
s

### `pop()`

Removes a random element from the set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.pop()
s

In [ ]:
s.pop()
s

In [ ]:
s.pop()
s

In [ ]:
s.pop()
s

### `clear()`

Clears the content of the set.

In [ ]:
s = {1, 2, 3}
s

In [ ]:
s.clear()
s

## Set comprehension

Like list comprehension expressions, Python allows us to use the declarative style of set comprehension expressions to create sets.

```python
{expression for item in sequence}
```

- `expression` is any valid expression that is hashable and usually depends on the value of `item`.
- `item` is an element from `sequence`.
- `sequence` is an iterable.

In [ ]:
s = {i ** 3 for i in range(10)}
s

In [ ]:
s = {i ** 3 for i in range(10) if i % 2 == 1}
s

In [ ]:
s = {(i, i ** 3) for i in range(10)}
s

In [ ]:
s = {[i, i ** 3] for i in range(10)}
s

# Dictionaries

Dictionaries are a **key-value** collection of objects. They are mapping from the collection of **keys** to the collection of **values**. They are mutable and can grow dynamically in size.

Dictionaries can be defined either by `dict()` constructor function or by providing key-value pairs in curly `{}` braces as follows:

```python
d = {
    <key_1>: <value_1>,
    <key_2>: <value_2>,
    ...
    <key_n>: <value_n>,
}
```

In [ ]:
countries2cities = { "Armenia": "Yerevan", "France": "Paris", "Germany": "Berlin" }
countries2cities

In [ ]:
countries2cities = dict(Armenia="Yerevan", France="Paris", Germany="Berlin")
countries2cities

In [ ]:
countries2cities = dict([
    ("Armenia", "Yerevan"),
    ("France", "Paris"),
    ("Germany", "Berlin"),
])
countries2cities

In [ ]:
empty_dict = {}
empty_dict, type(empty_dict)

In [ ]:
empty_dict = dict()
empty_dict, type(empty_dict)

## Accessing and adding new elements

In [ ]:
countries2cities = { "Armenia": "Yerevan", "France": "Paris", "Germany": "Berlin" }
countries2cities

In [ ]:
countries2cities["Armenia"]

In [ ]:
countries2cities["Spain"]

In [ ]:
countries2cities["Spain"] = "Madrid"
countries2cities

In [ ]:
weekdays = {0: "Sunday", 1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}
weekdays

In [ ]:
weekdays[3]

In [ ]:
weekdays[-1]

In [ ]:
weekdays[2:4]

In [ ]:
student = {}
student["first_name"] = "John"
student["last_name"] = "Doe"
student["age"] = 20
student["friends"] = ["Alice", "Bob"]
student["grades"] = {"mathematics": 95, "english": 92, "physics": 98}
student

In [ ]:
student["first_name"], student["last_name"], student["age"]

In [ ]:
student["friends"]

In [ ]:
student["grades"]

In [ ]:
student["friends"].append("Jane")
student["grades"]["biology"] = 89

In [ ]:
student["friends"]

In [ ]:
student["grades"]

In [ ]:
student